<div class="screen">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
         <div class="logo" fxHide.lt-md>
            <img src="../../../assets/education.png">
            <span class="title">Bookstore</span>
         </div>

         <mat-form-field class="formfield" fxHide.lt-sm>
            <mat-icon matPrefix>
            <button class="searchbutton"><img  src="../../../assets/search_black_24dp.svg"></button>
            </mat-icon>
            <input class="input" matInput   >
        </mat-form-field>

        <div fxLayout="column" class="prof" >
        <button class="profilebutton" (click)="logout()"><img src="../../../assets/person_black_24dp.svg"></button>
        <span class="profile">Profile</span>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="cart">
        <button mat-raised-button matBadge={{count}} [matBadgeHidden]="hidden"  matBadgeColor="warn" matBadgePosition="below after" class="profilebutton" routerLink="/home/bookDetails"><img src="../../../assets/shopping_cart_black_24dp.svg"></button>

            <!-- <button mat-raised-button 
                color="primary"
                matBadge="14">
              Action
        </button> -->

        <span class="profile">Cart</span>
        </div>

        </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
</div>
<!-- 
<mat-form-field style=" width: 700px;height: 50px; margin-left: 250px;margin-top: -18px;" appearance="outline">
    <mat-icon matPrefix>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img style="width: 25px; height: 25px; margin-top: -20px;" src="../../../assets/search_black_24dp.svg"
          alt=""></button>
    </mat-icon>
    <input matInput style="margin-left: 45px; font-size: 20px;height: 30px;" (keyup)="searchTitle($event)" placeholder="Search">

  </mat-form-field> -->