<div class="screen">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
         <div class="logo">
            <img src="../../../assets/education.png">
            <span class="title">Bookstore</span>
         </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div fxLayout="column" fxLayoutAlign="center center" class="content">
        <span class="forget">Forgot Your Password?</span>

        <div class="window" fxLayout="column" fxLayoutAlign="space-around center">
            <p class="desc">Enter your email address and we'll send you a link to reset your password.</p>

            <div FxLayout="column"  class="inputfield"> 
                <div>
                    <span class="title1">Email Id</span>
                </div>
                
                <div>
                    
                    <input mat-input class="firstname">
                </div>
                <button class="button1">Reset Password</button>
                
            </div>

            <button class="footer" routerLink="/signup/Sign-up">CREATE ACCOUNT</button>

          
        </div>
        
    </div>
    
</div>
