.toolbar{
    // border: 2px solid green;
    height: 60px;
    background-color: brown;
}
.title{
    color: white;
    margin-left: 5px;
    font-size: 23px;
    // margin-bottom: 10px;
}
.logo{
    // border: 2px solid yellow;
    margin-top: 15px;
    margin-left: 150px;
}
.screen{
    // border: 2px solid red;
    height: 97vh;
}
.content{
    // border: 2px solid purple;
    height: 95%;
}
.forget{
    font: normal normal medium 25px/33px Roboto;
    font-size: 30px;
}
.window{
    border: 1px solid rgb(151, 137, 137);
    border-radius: 5px;
    margin-top: 40px;
    width: 25%;
    height: 40%;
}
.desc{
    margin-top: 20px;
    width: 80%;
    opacity: 0.6;
}
.footer{
    border: 1px solid rgb(199, 191, 191);
    background-color: rgb(223, 219, 219);
    width: 100%;
    height: 30%;
    margin-top: 45px;
    font-size: 20px;
}
.firstname{
    // border: 2px solid green;
    border: 1px solid #D0D0D0;
    width: 300px;
    height: 30px;
}
.title1{
    
    font-size: 11px;
}
.input{
    width: 80%;
    height: 30px;
}
.inputfield{
    margin-top: 10px;
}
.buttonfield{
    margin-top: 25px;
    margin-bottom: 20px;
}
.button1{
    background-color: rgb(158, 17, 17);
    border: none;
    color: white;
    width: 305px;
    height: 40px;
    margin-top: 30px;
    border-radius: 3px;
}
.error{
    font-size: 10px;
    color: red;
}