<div class="screen">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
        <div fxLayout="row">
         <h2>Books  </h2>
         <small class="items">( {{BookList.length}} items )</small>
        </div>
 
        <div>
         <button mat-button [matMenuTriggerFor]="menu">Sort by relevence</button>
         <mat-menu #menu="matMenu">
           <button mat-menu-item (click)="highestPrice()">Sort by highest price</button>
           <button mat-menu-item (click)="lowestPrice()">Sort by lowest price</button>
           <button mat-menu-item (click)="newestArrival()">Newest arrial</button>
         </mat-menu>
         
         <!-- <mat-form-field >
         <button mat-icon-button [matMenuTriggerFor]="reminderMenu" #menuTrigger class="dropdown"
         class="example-icon favorite-icon"
     aria-label="Example icon-button with heart icon">
             Sort by relevence
         </button>
         <mat-menu #reminderMenu="matMenu" class="remMenu">
             <p>Reminder:</p>
             <button mat-menu-item>Tomorrow</button>
             <button mat-menu-item>Next week</button>
             
         </mat-menu>
     </mat-form-field> -->
         <!-- <mat-form-field appearance="fill" class="dropdown">
             <mat-label>Sort by relevence</mat-label>
             <mat-select> -->
               <!-- <mat-option value="one">First option</mat-option>
               <mat-option value="two">Second option</mat-option> -->
             <!-- </mat-select>
           </mat-form-field> -->
        </div>
     </div>
<app-display-card [BookArray]="BookList"></app-display-card>

<!-- <mat-paginator class="pagination" [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
              <div class="pagination">
              <a href="#">1</a>
              <a class="active" href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">6</a>
              <a href="#">7</a>
              <a href="#">8</a>
              <a href="#">9</a>
              <a href="#">10</a>
              <a href="#">11</a>
              <a href="#">12</a>
            </div>
</mat-paginator> -->


<div class="pagination" fxHide.lt-md>
    <a href="#">
        <mat-icon><img src="../../../assets/arrow_back_ios_black_24dp.svg"></mat-icon>
    </a>
    <a  href="#">1</a>
    <a class="active" href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">7</a>
    <a href="#">8</a>
    <a href="#">9</a>
    <a href="#">10</a>
    <a href="#">11</a>
    <a href="#">12</a>
    
    <a href="#">
        <mat-icon><img src="../../../assets/arrow_forward_ios_black_24dp.svg"></mat-icon>
    </a>
</div>
</div>