<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<div class="screen">

    <div fxLayout="row">
        <h3 class="home" routerLink="/home/bookList"> Home / </h3>
        <h3> Book (01)</h3>
    </div>

    <div class="bookdesc" fxLayout="row"  fxLayout.lg="column"> 
        <div class="image" fxLayout="row"  >
            <div class="smallimg" >
                <img class="smallimage"  src="../../../assets/Image 11.png">
                <img class="smallimage" fxHide.lt-md src="../../../assets/Image 11.png">
            </div>
            <div class="largeimg" fxHide.lt-md>
                <img class="largeimage" src="../../../assets/Image 11.png">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="buttons">
                    <button class="button1" *ngIf="AddtoBag" (click)="addToCart()">ADD TO BAG</button>
                   
                    <div *ngIf="countHide" fxLayout="row" fxLayoutAlign="center center" class="counter">
                        <button (click)="countdecrease()" class="plusminus">
                           <img src="../../../assets/remove_circle_outline_black_24dp.svg">
                        </button>
                        <p class="count">{{orderCount}}</p>
                        <button  (click)="countincrease()" class="plusminus">
                            <img src="../../../assets/control_point_black_24dp.svg">
                        </button>
                    </div>

                    <button class="button2" (click)="addToWishlist()">WISHLIST</button>
                </div>
            </div>
        </div>

        <div class="description">
            <div class="bookdetails" fxLayout="column">
                <p class="bookname">{{book?.bookName}}</p>
                <span class="author">by {{book?.author}}</span>
                <div fxLayout="row">
                    <p class="rate">4.5 &starf;</p>
                    <span class="number">({{book?.quantity}})</span>
                </div>
                <div fxLayout="row">
                <p class="price">Rs. {{book?.price * orderCount}}</p>
                <span class="mrp">Rs. {{book?.price + book?.discountPrice * orderCount}} </span>
                </div>
            </div>
            <hr>
            <div class="bookdetails">
                <p> * Book Detail</p>
                <p class="desc">{{book?.description}}</p>
            </div>
            <hr>
            <p class="feedback">Customer Feedback</p>
            <div class="feedbackDiv" fxLayout="column">
                <span class="overallRating">Overall rating</span> 
                <div>
                    <div class="star-widget" >
                        <input type="radio" name="rate" id="rate-5" [(ngModel)]="value" value="5">
                        <label for="rate-5" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-4" [(ngModel)]="value" value="4">
                        <label for="rate-4" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-3" [(ngModel)]="value" value="3">
                        <label for="rate-3" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-2" [(ngModel)]="value" value="2">
                        <label for="rate-2" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-1" [(ngModel)]="value" value="1">
                        <label for="rate-1" class="fas fa-star"></label>
                    </div>
                </div>
                <div>
                <textarea [(ngModel)]="comment" class="inputarea" placeholder="Write a comment"></textarea>
                </div>
                <div>
                <button class="submit" (click)="addFeedback()">Submit</button>
                </div>
            </div>
            <div style="background-color:white;border: 1px solid rgb(219, 217, 217);width: 80%;margin-left: 30px;" fxLayout="column wrap" fxLayoutAlign="start start" fxLayoutGap="20px"
            *ngFor="let item of bookStoreArray">

            <div>
                <div style="margin-top: 20px;" fxLayout="row">
                    <!-- <mat-icon>account_circle</mat-icon> -->
                    <p class="user">{{item.user_id.fullName}}</p>
                </div>
                <div fxLayout="row">
                    <p class="getrating" > {{item.rating}}</p>
                    <div class="fa fa-star checked stars" ></div>

                </div>
                <div>
                    <p class="comment">{{item.comment}}</p>
                </div>

                <br>
            </div>
        </div>
        </div>

    </div>

</div>
