table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 100px;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  th {
    background-color: #dddddd;
  }
  .bookDetalis{
    // border: 2px solid green;
    width:100%;
  }
  .buttonDiv{
    //   border: 2px solid green;
      width:100%;
      margin-bottom: 80px;
  }
  .buttonStyle{
      width: 30%;
      height: 40px;
      background-color: rgb(47, 47, 146);
      color: white;
      font-size: 25px;
      border: none;
  }
  