<div class="screen" fxLayout="column">
    <div>
    <!-- <p class="title">Order Placed Successfully</p> -->
    <img src="../../../assets/placeOrder.png">
    </div>
    <div class="para">
        <p>hurry!!! your order is placed</p>
        <p>the order id is #123456 save the order id for</p>
        <p>further communication</p>
    </div>
    <div >
        <table>
            <tr>
                <td class="table">Email us</td>
                <td class="table">Contact us</td>
                <td class="table">Address</td>
            </tr>
            <tr>
              <td class="table">admin@bookstore.com</td>
              <td class="table">+91 8163475881</td>
              <td class="table">42, 14th Main, 15th Cross, Sector 4 ,opp to BDA <br>complex, near Kumarakom restaurant, HSR Layout,<br> Bangalore 560034</td>
            </tr>
        </table>
    </div>
    <div>
        <button class="continue" routerLink="/home/bookList">CONTINUE SHOPPING</button>
    </div>
</div>